:root {
  --color-white: #ffffff;
  --color-accent: #ff6c00;
  --color-black: #303030;
  --color-dark-grey: #555555;
  --color-grey: #9da4bd;
  --color-grey-transparent: rgba(157, 164, 189, 0.6);
  --background-color-grey: #f7f7f7;
  --background-dark-grey: #191c26;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--color-black);
}
.section {
  padding-top: 130px;
  padding-bottom: 130px;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid blue;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
}
.list {
  list-style: none;
}
.link,
.address {
  text-decoration: none;
  font-style: inherit;
  color: inherit;
}
/* Styles Header */
.header {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--color-white);
  background-color: var(--color-dark-grey);
}
.header-container {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 70px;
}
.nav-list {
  display: flex;
}
.nav-list > .item:not(:last-child) {
  margin-right: 30px;
}
.header-contacts {
  margin-left: auto;
}
.button {
  padding: 12px 20px;
  background-color: transparent;
  border: 1px solid var(--color-accent);
  border-radius: 25px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: inherit;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
}
.button-header {
  color: inherit;
}
.nav-list-menu:hover,
.nav-list-menu:focus,
.phone:hover,
.phone:focus,
.button:hover,
.button:focus {
  color: var(--color-accent);
}
.phone {
  margin-right: 45px;
}
/* Styles Hero section */
.hero {
  background-color: var(--color-dark-grey);
}
.hero-container {
  display: flex;
}
.hero-content-wrap {
  padding-left: 98px;
}
.subtitle {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.hero-subtitle {
  color: var(--color-grey-transparent);
}
.hero-title {
  margin-bottom: 20px;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--color-white);
}
.hero-text {
  font-size: 18px;
  line-height: 1.67;
  color: var(--color-grey);
}
.hero-socials {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  background-color: #ffffff;
}
.hero-socials:hover,
.hero-socials:focus {
  color: var(--color-accent);
}
.hero-socials-wrap {
  display: block;
  width: 115px;
  transform: rotate(-90deg);
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
/* Styles About section */
.about-container {
  display: flex;
}
.about-img-list {
  display: flex;
  width: 50%;
}
.about-img-list > .item {
  margin-right: 30px;
}
.about-descr-wrap {
  width: 50%;
  padding-left: 34px;
  padding-right: 34px;
}

.title {
  margin-bottom: 20px;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.about-text {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.67;
  color: var(--color-dark-grey);
}
.about-desc {
  margin-bottom: 40px;
  color: var(--color-dark-grey);
}

.button-about {
  color: var(--color-black);
}
/* Styles Services and prices section */
.price {
  background-color: var(--color-dark-grey);
}
.price-subtitle {
  color: var(--color-grey-transparent);
}
.price-title {
  color: var(--color-white);
}
.price-list-wrap {
  display: flex;
}
.price-list {
  width: 50%;
  padding: 30px 40px;
  margin-bottom: 50px;
}
.price-list-item {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 1.67;
  color: var(--color-grey);
}
.price-list-item:last-child {
  margin-bottom: 0;
}
.button-price {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: var(--color-white);
}
/* Styles Advantage section */
.advantage-container {
  display: flex;
}
.advantage-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 50%;
}

.advantage-descr-wrap {
  flex-basis: 50%;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 70px;
}
.advantage-item {
  box-sizing: border-box;
  flex-basis: calc((50%-245px) / 2);
  min-height: 133px;
  min-width: 170px;
  padding: 20px 24px;
  background-color: var(--background-color-grey);
  text-align: center;
}
.advantage-item:nth-child(2n + 1) {
  margin-bottom: 30px;
  margin-right: 15px;
}
.advantage-item:nth-child(2n) {
  margin-top: 30px;
  margin-left: 15px;
}
.advantage-item-value {
  display: inline-block;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
}
.advantage-accent {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  color: var(--color-accent);
}
.advantage-item-desc {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}
.advantage-text {
  font-size: 18px;
  line-height: 1.67;
  color: var(--color-dark-grey);
}
/* Styles Barbers section */
.barbers-list {
  display: flex;
  justify-content: center;
  text-align: center;
}
.barbers-item:not(:last-child) {
  margin-right: 30px;
}
.barbers-name {
  font-size: 18px;
  line-height: 1.39;
  margin-top: 30px;
  margin-bottom: 8px;
}
.barbers-role {
  line-height: 1.36;
  color: var(--color-accent);
}
/* Styles Examples section */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.examples-list {
  display: flex;
  justify-content: center;
}
.examples-list > .item:not(:last-child) {
  margin-right: 30px;
}
/* Styles Contacts section */
.contacts {
  background-color: var(--background-dark-grey);
  color: var(--color-grey);
  font-size: 18px;
  line-height: 1.67;
}
.contacts-container {
  padding-left: 100px;
}
.contacts-title {
  margin-bottom: 40px;
  color: var(--color-white);
}
.contacts-list {
}
.contacts-address {
  font-weight: 700;
}
.contacts-mail {
  text-decoration: underline;
}
.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}
.contacts-item:hover,
.contacts-item:focus {
  color: var(--color-accent);
}
.contacts-subtitle {
  color: var(--color-white);
}
/* Styles Footer */
.footer {
  background-color: var(--background-color-grey);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}
.copyrigt {
  color: var(--color-grey);
}
.footer-socials:hover,
.footer-socials:focus {
  color: var(--color-accent);
}
